inst/doc
doc
.Rproj.user
.gitignore
.RData
.Rhistory
.DS_Store
inst/.DS_Store
inst/extdata/.DS_Store
#inst/extdata/counts/*
vignettes/MultiCCA_vignette.Rmd
saved/*
inst/rmarkdown
vignettes/vignette_cache/
R/CMYK.R
