NAMESPACE
inst/doc
doc
Meta
man/*
.Rproj.user
.gitignore
.RData
.Rhistory
.DS_Store
change_comitter.sh
inst/.DS_Store
inst/extdata/.DS_Store
#inst/extdata/counts/*
R/prep_files.R
R/3D_alignment.R
R/MultiCCA.R
vignettes/MultiCCA_vignette.Rmd
R/NMF_global_functions.R
R/NMF_tests.R
se_object
inst/rmarkdown
vignettes/vignette_cache/
